.post {
  border: 2px solid white;
  margin-bottom: 20px;
  background-color: #11acc0;
  border-radius: 5px;
  width: 90%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.post > p,
h3 {
  margin-left: 10px;
}

.post > .name {
  display: inline;
}

.post > small {
  font-size: smaller;
  margin-left: 20px;
  display: inline;
}

.post > img {
  width: 20px;
  position: relative;
  top: 5px;
  left: 12px;
}

.posted {
  position: relative;
  right: 10px;
}

.comment {
  width: 80vw;
  position: relative;
  left: -10px;
  display: inline;
}

.reply {
  border: 1px solid white;
  background-color: #11acc0;
  border-radius: 5px;
  padding: 4px;
  position: relative;
  top: -2px;
  width: 50px;
}
