@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  background-color: #44d3e7;
  font-family: "Raleway", sans-serif;
  margin: 20px;
}

.App {
  margin-left: 10%;
}

.new {
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #11acc0;
  font-size: large;
  width: 100px;
  text-align: center;
  color: black;
  text-decoration: underline;
}

.links {
  text-decoration: none;
  color: black;
}
